*{
	margin:0px;
	padding:0px;
}
.menu_bar{
	height: 80px;
	width: 100%;
	float: left;
	background-color: white;
	position: fixed;
	margin-top: -10px;

}
.menu_logo{
	height: 100%;
	width: 20%;
	float: left;
}
.menu_logo img{
	height: 70%;
	width: 80%;
	float: left;
	margin-left: 60px;
	margin-top: 10px;
}
.menu_item{
	height: 100%;
	width: 60%;
	float: left;
}
.menu_item ul{
	height: 100%;
	width: 100%;
	float: left;
	list-style-type: none;
	margin-left: 30px;
}
.menu_item ul li a{
	display: inline-block;
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	font-weight: bold;
	font-family: arial;
	font-size: 17px;
	text-decoration: none;
	color: black;

}
.menu_btn{
	height: 100%;
	width: 20%;
	float: left;
}
.menu_btn button{
	height: 50px;
	width: 250px;
	background-color: #00ab9f;
	border: none;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
	margin-left: -50px;
	box-shadow: 0px 1px 5px black;
}
.tline{
	font-size: 40px;
	float: right;
	display: none;
}
@media(max-width:600px){

	.menu_item{
		display: none;
	}
	.menu_btn{
		display: none;
	}
	.menu_logo {
		margin-left: -65px;
		margin-top: 10px;
		height: 80%;
		width: 50%;
		float: left;
		background-color: white;
	}
	.tline{

		display: inline-block;
		margin-top: 20px;
	}
}

.main_container1{
	height: 700px;
	width: 100%;
	background-image: url('slider1.jpg');
	background-size: 100% 100%;
	float: left;
}
.slider_containt{
	height: 100%;
	width: 100%;
	float: left;
	background-color: hsl(185.69,47.54%,52.16%,0.8);
	text-align: center;
}
.slider_containt h2{
	font-size: 60px;
	color: white;
	margin-top: 200px;
}
.slider_containt p{
	font-size: 30px;
	color: white;
	margin-top: -20px;
}
.slider_containt button{
	height: 50px;
	width: 150px;
	border: none;
	box-shadow: 0px 0px 2px black;
	margin-left: 30px;
	margin-top: 20px;
	font-weight: bold;
}
@media(max-width:600px){
	.main_container1{
		height: 350px;
		float: left;
		margin-top: 50px;
	}
	.slider_containt{
		height: 350px;
	}
	.slider_containt h2{
		font-size: 35px;
		margin-top: 35px;
	}
	.slider_containt p{
		font-size: 25px;
		margin-top: -10px;
	}

}
.main_container2{
	height: 1000px;
	width: 100%;
	float: left;
	background-color: #f7f7ff;
}
.slider_containt2{
	height: 82%;
	width: 90%;
	float: left;
	margin: 120px;
	text-align: center;
/*	margin-top: 50px;*/
}
.slider_containt2 h1{
	font-size: 40px;
	color: #6a6a6a;
}
.slider_containt2 p{
	font-size: 25px;
	margin-top: -15px;
	color: #6a6a6a;

}
.box1{
	height: 300px;
	width: 400px;
	float: left;
	margin-left: 30px;
	margin-top: 30px;
	box-shadow: 0px 1px 2px #6a6a6a;
}
.box1 img{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-left:30px;
	margin-top: 20px;
}
.box1 h2{
	font-size: 25px;
}
.box1 p{
	font-size: 20px;
}
@media(max-width:600px){
	.main_container2{
		height: 2300px;
	}
	.slider_containt2{
		width: 100%;
		margin-left: 15px;
	}
}

.main_container3{
	height: 650px;
	width:100%;
	float: left;
}
.img_container{
	height: 100%;
	width: 50%;
	float: left;
}
.img_container img{
	height: 400px;
	width: 550px;
	margin-top: 100px;
	margin-left: 200px;
}
.des_container{
	height: 100%;
	width: 50%;
	float: left;
}
.des_container h2{
	margin-top: 100px;
	margin-left: 30px;
	color: #6a6a6a;
}
.des_container h2 span{
	color: #03509e;
	margin-top: ;
}
.des_container p{
	text-indent: 50px;
	text-align: left;
	font-size: 25px;
	color: #9898a7;
	margin-left: 30px;
}
@media(max-width:600px){
	.slider_containt3{

	}
	.img_container{
		height: 350px;
		width: 100%;
		margin-left: -200px;
		margin-top: -30px;
	}
	.img_container img{
		height: 100%;
		width: 100%;
	}
	.des_container {
		width: 100%;
	}
}

.main_container4{
	height: 600px;
	width: 100%;
	float: left;
	background-color: #f7f7ff;
	text-align: center;
}
.main_container4 h2{
	font-size: 35px;
	color: #6a6a6a;
	font-family: arial;
	margin-top: 100px;
}
.main_container4 p{
	font-size: 20px;
	margin-top: -15px;
	color: #6a6a6a;
	font-family: arial;
}
.slider_containt4_1{
	height: 220px;
	width: 600px;
	float: left;
	margin-left: 100px;
	margin-top: 50px;
	box-shadow: 0px 1px 2px black;
}

.slider_containt4_1 img{
	height: 200px;
	width: 200px;
	float: left;
}
.slider_containt4_1 h3{
	font-size: 20px;
	text-align: left;
	margin-left: 220px;
	}
.slider_containt4_1 ul{
	height: 100%;
	width: 100%;
	list-style-type: none;
	margin-left: -300px;
}
.slider_containt4_1 ul li{
	display: inline-block;
	font-size: 10px;
	margin-left: 10px;
}
.slider_containt4_1 p{
	font-size: 10px;
	margin-top: -200px;
	text-align: left;
	margin-left: 210px;
}
.slider_containt4_1 span{
	font-size: 15px;
	margin-left: -300px;
	color: #4bb4bf;
}

@media(max-width:600px){
	.main_container4{
		height: 1200px;
		width: 100%;
	}
	.slider_containt4_1{
		margin-left: 0px;
		margin-bottom: 100px;
		height: 600px;
		width: 100%;
	}
	.slider_containt4_1 img{
		width: 100%;
		height: 400px;
	}
	.slider_containt4_1 h3{
		margin-left: 20px;
		margin-top: 430px;
	}
	.slider_containt4_1 ul{
		margin-left: -200px;
	}
	.slider_containt4_1 p{
		margin-top:-580px;
		margin-left: 20px;
		text-indent: 20px;
	}
	.slider_containt4_1 span{
		margin-left: -350px;

	}
}
.main_container5{
	height: 700px;
	width: 100%;
	float: left;
	margin-top: 20px;
}
.btns{
	float: left;
	margin-left: 500px;
}
.btns button{
	height: 40px;
	width: 100px;
	margin-left: 10px;
	border: 1px solid #4bb4bf;
	color: #4bb4bf;
	box-shadow: 0px 1px 1px black;
	border-radius: 5px;
}
.gallary{
	height:90%;
	width: 80%;
	float: left;
	margin-top: 20px;
	margin-left: 200px;
}
.g1{
	height: 400px;
	width: 380px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
}
@media(max-width:600px){
	.main_container5{
		width: 100%;
		height: 3000px;
		float: left;
	}
	.btns{
		display: none;
	}
	.gallary{
		margin-left: 40px;
		margin-top: 500px;
	}
}

.team{
	height: 600px;
	width: 100%;
	float: left;
	margin-top: 230px;
	text-align: center;
	color: #6a6a6a;

}
.members{
	height: 90%;
	width: 80%;
	float: left;
	margin-left: 150px;
}
.team_member{
	height: 370px;
	width: 250px;
	float: left;
	background-color: #00ab9f;
	margin-left: 40px;
	margin-top: 50px;
}
.team_member img{
	width: 100%;
}
.team_member h3{
	color: white;
	font-size: 25px;
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
}
.team_member p{
	color: white;
	margin-top: -25px;
	text-align: left;
	margin-left: 20px;
}

@media(max-width:600px){
	.team{
		height: 2400px;
		margin-top: 0px;
	}
	.members{
		margin-left: 0px;
	}
	.team_member{
		height: 500px;
		width: 100%;
		margin-left: 50px;
	}
}

.contact{
	height: 550px;
	width: 100%;
	float: left;
	margin-top: 70px;
}
.map{
	height: 100%;
	width: 50%;
	float: left;

}
.form{
	height: 100%;
	width: 50%;
	float: left;
}
.form h2{
	color: #6a6a6a;
	margin-left: 50px;
}
.form form{
	margin-left: 50px;
}
.form form label{
	color: #6a6a6a;
}
.form form input{
	height: 40px;
	width: 500px;
	margin-left: 30px;
	background-color: #f2f2f2;
	border: 1px solid black;
	border-radius: 5px;
}
.form form textarea{
	background-color: #f2f2f2;
	border-radius: 5px;

}
.form form button{
	height: 40px;
	width: 150px;
	border: none;
	margin-left: 160px;
	background-color: #00ab9f;
	color: white;
	border-radius: 5px;
}
@media(max-width:600px){
	.contact{
		height: 1000px;
		width: 100%;
		float: left;
	}
	.map{
		width: 100%;
	}
	.map iframe{
		width: 470px;
	}
	.form{
		height: 600px;
		width: 100%;
		float: left;
		margin-top: -600px;
	}
	.form h2{
		margin-left: 20px;
	}
	.form form{
		margin-left: 20px;
		float: left;
		
	}

	.form form input{
		margin-left: 25px;
		width: 400px;
		margin-top: 10px;
	}
	.form textarea{
		margin-top: 20px;
	}
	.form form button{
		margin-left: 30px;
	}
}

.footer{
	height: 400px;
	width: 100%;
	float: left;
	background-color: #444444;
	margin-top: -50px;
}
.About_us{
	height: 100%;
	width: 25%;
	float: left;
	margin-left: 150px;
}
.About_us h2{
	color: white;
}
.About_us p{
	color: white;
	text-indent: 20px;
	text-align: justify;
	font-size: 22px;
}
.Useful_link{
	height: 100%;
	width: 25%;
	float: left;
	margin-left: 50px;
}
.Useful_link h2{
	color: white;
}
.Useful_link ul{
	list-style-type: none;
}
.Useful_link ul li{
	color: white;
	font-size: 25px;
	margin-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}
.icon{
	float: right;
	font-weight: bold;
}
.Contact_us{
	height: 100%;
	width: 25%;
	float: left;
	margin-left: 50px;
}
.Contact_us h2{
	color: white;
}
.Contact_us p{
	color: white;
	font-weight: bold;
}




.social_media{
	height: 70px;
	width: 100%;
	float: left;
	background-color: #2e2e2e;
}
.s1{
	height: 100%;
	width: 60%;
	float: left;
}
.s1 h3{
	color: white;
	margin-left: 150px;
}
.s2{
	height: 100%;
	width: 40%;
	float: left;
}

.s2 ul{
	height: 100%;
	width: 100%;
	float: left;
	list-style-type: none;
	margin-left: 100px;
}
.s2 ul li{
	display: inline-block;
	margin-left: 30px;
	color: white;
}

@media(max-width:600px){
	.footer{
		height: 1000px;
		width: 100%;
		float: left;
	}
	.About_us{
		margin-left: 0px;
		width: 100%;
		float: left;
	}
	.Useful_link{
		margin-left: 0px;
		width: 100%;
		margin-top: -650px;
	}
	.Contact_us{
		width: 100%;
		float: left;
		margin-left: 0px;
		margin-top: -600px;
	}
	.social_media{
		height: 60px;
		width: 100%;
		float: left;

	}
	.social_media .s1 h3{
		font-size: 16px;
		margin-left: 0px;
	}
	.social_media .s2 ul{
		margin-left: -30px;
		font-size: 15px;
	}
}
